<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <form id="prompt-form">
    <img src="https://source.unsplash.com/V5vqWC9gyEU" class="icon" />
    <select id="model" name="model">
      {% for model in model_choices %}
      {% if model == "text-davinci-003" %}
      <option value="{{ model }}" selected="selected">{{ model }}</option>
      {% else %}
      <option value="{{ model }}">{{ model }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <input type="text" id="prompt" name="prompt" placeholder="Enter a prompt" required></input>
    <div>
      <label for="dry_run">Dry run?</label>
      <input type="checkbox" id="dry_run" name="dry_run"></input>
    </div>
    <input type="submit" value="Generate response" />
  </form>

  <div id="result" class="hidden"></div>
  <script>
    const form = document.getElementById("prompt-form");
    const resultDiv = document.querySelector("div#result");

    form.addEventListener("submit", (event) => {
      event.preventDefault();

      fetch("/prompt", {
        method: "POST",
        body: new FormData(form),
      })
        .then((response) => response.text())
        .then((unformatted_data) => unformatted_data.split("\n").map((line) => `<p>${line}</p>`).join(""))
        .then((data) => {
          resultDiv.innerHTML = `<p>${data}</p>`;
          resultDiv.classList.remove('hidden');
        });
    });
  </script>
</body>
<footer>
  <p {% if dirty %}class="dirty"{% endif %}>Build {{ commit }}</p>
</footer>